<template name="register">
	<div key="reports" class="reports-page ui-view main">
	  <div class="ng-scope"> 
	    <a href="/dashboard/overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a> 
	    <h2>Register <small>new users</small></h2> 

	    <div class="jumbotron"> 
            <div class="div">
                {{> camera}}
            </div>
	    </div> 
	  </div>
	</div>
</template>

<template name="camera">
    
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="webcam"></div>
                <div align="center">
                    <button class="btn btn-info btn-lg snap">Take photo!</button>
                </div>
            </div>
    
            <div class="col-lg-6 col-md-6 col-sm-12">
                {{#if image}}
                    <img src="{{image}}">
    
                    <hr/>
                    <form class="form-horizontal" action="/action_page.php">
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-10">
                          <input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="license">License No:</label>
                        <div class="col-sm-10">
                          <input type="license" class="form-control" id="license" placeholder="Enter License No" name="license">
                        </div>
                      </div>
                    </form>
                    {{> s3_tester}}
                {{/if}}
    
            </div>
        </div>
</template>
    
    
<template name="s3_tester">

    <button class="btn-info btn-lg upload">Upload</button>
    {{> sAlert}}
</template>